/* CSS GENERAL UTILITIES - START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

/* CSS GENERAL UTILITIES - END */

/* CSS LAYOUT UTILITIES - START */

header {
  background-color: darkorange;
  color: white;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.header-col-logo img {
  width: 12rem;
}

main {
  margin-top: 3rem;
}

.main-container {
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: calc((100% - 2rem) / 3);
}

.card-inner-top {
  position: relative;
}

.card-image {
  width: 100%;
  display: block;
}

.badge {
  background-color: red;
  padding: 6px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 0;
}
/* CSS LAYOUT UTILITIES - END */

/* SPECIFIC PAGE ELEMENTS - START */
.brand-name {
  font-size: 12px;
}

.product-name {
  font-size: 15px;
}

.price-nodiscount {
  font-size: 12px;
  text-decoration: line-through;
  color: gray;
}

.price-discount {
  font-size: 12px;
  color: crimson;
}

/* SPECIFIC PAGE ELEMENTS - END */
