/* CSS GENERAL UTILITIES - START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

/* CSS GENERAL UTILITIES - END */

/* CSS LAYOUT UTILITIES - START */

header {
  background-color: darkorange;
  color: white;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.header-col-logo img {
  width: 12rem;
}

main {
  margin-top: 3rem;
}

.main-container {
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: calc((100% - 2rem) / 3);
}

.card-inner-top {
  position: relative;
}

.badges {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: flex;
  gap: 8px;
}

.badge {
  padding: 6px;
  color: white;
}

.badge-favorite {
  position: absolute;
  top: 10px;
  right: 0px;
  display: flex;
  gap: 8px;
  background: white;
  padding: 6px;
  color: black;
  font-size: 18px;
}

.card-image {
  width: 100%;
  display: block;
}

/* CSS LAYOUT UTILITIES - END */

/* SPECIFIC PAGE ELEMENTS - START */

.badge-discount {
  background: red;
}

.badge-eco {
  background: green;
}

.brand-name {
  font-size: 12px;
}

.product-name {
  font-size: 15px;
  font-weight: bold;
}

.price-line-through {
  font-size: 12px;
  text-decoration: line-through;
  color: gray;
}

.price {
  font-size: 12px;
  font-weight: bold;
  color: crimson;
}

/* SPECIFIC PAGE ELEMENTS - END */

/* BONUS EXAMPLE HOVER */

/* footer layout like the screenshot */
footer {
  background: #111;
  color: white;
  margin-top: 3rem;
  padding: 1.1rem 0;
}

.footer-inner {
  justify-content: space-between;
  align-items: center;
}

.company {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.legal {
  font-size: 0.7rem;
  cursor: pointer;
}

.sep {
  margin: 0 0.25rem;
}

.social-title {
  font-weight: 700;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: center;
}

.si {
  margin-left: 0.5rem;
  justify-items: center;
}

.social-icons {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  font-size: 0.9rem;
}

.social-icons:hover {
  background: rgba(255, 255, 255, 0.06);
  justify-content: center;
}
