/* CSS GENERAL UTILITIES - START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

/* CSS GENERAL UTILITIES - END */

/* CSS LAYOUT UTILITIES - START */

header {
  background-color: darkorange;
  color: white;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.header-col-logo img {
  width: 12rem;
}
